<html>


   <!-- Mirrored from www.spruko.com/demo/uplor/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 03 Nov 2018 10:45:21 GMT -->
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0f75ff">
		<meta name="theme-color" content="#2ddcd3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

		<!-- Title -->
		<title>Admin panal</title>
		<link rel="stylesheet" href="/fonts/fonts/font-awesome.min.css">

		<!-- Font Family-->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

		<!-- Sidemenu Css -->
		<link href="/plugins/fullside-menu/css/style.css" rel="stylesheet" />
		<link href="/plugins/fullside-menu/waves.min.css" rel="stylesheet" />

		<!-- Bootstrap Css -->
		<link href="/plugins/bootstrap-4.1.3/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Dashboard Css -->
		<link href="/css/dashboard.css" rel="stylesheet" />

		<!-- JQVMap -->
		<link href="/plugins/jqvmap/jqvmap.min.css" rel="stylesheet"/>

		<!-- Morris.js Charts Plugin -->
		<link href="/plugins/morris/morris.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!---Font icons-->
        <link href="/plugins/iconfonts/plugin.css" rel="stylesheet" />
       
	</head>



<body><div id="loading"></div>

<div class="overlay"></div>
<div class="background login-img"></div>
<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class=" masthead-content text-white py-4 py-md-0">
                    <form class="" action="/signup"  method="post">
                        <div class="text-center mb-3">
                            <img src="/images/logo-1.png" class="" alt="">
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title text-center text-dark">Create New Account</div>
                                <div class="form-group">
                                    <label class="form-label text-dark">Name</label>
                                    <input type="text" class="form-control" name="Admin_name" placeholder="Enter name" pattern="[a-zA-Z\s]{3,15}"
                                    title="Name should only contain uppercase and lowercase letters 3-15. e.g. hardik" required> 
                                </div>
                                <div class="form-group">
                                    <label class="form-label text-dark">Email address</label>
                                    <input type="email" class="form-control" name="Admin_email" placeholder="Enter email" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label text-dark">Password</label>
                                    <input type="password" class="form-control" name="Admin_password" placeholder="Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Password :UpperCase, LowerCase, Number/SpecialChar and min 8 Chars e.g Hardik@1" required>
                                </div>
                                <div class="form-group">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" />
                                        <span class="custom-control-label text-dark">Agree the <a href="terms.html">terms and policy</a></span>
                                    </label>
                                </div>
                                <div class="form-footer mt-2">
                                    <input type="submit" value="Create new account" class="btn btn-success btn-block">
                                </div>
                                <div class="text-center text-dark mt-4">
                                Already have account? <a href="/">SignIn</a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

            

            <script src="/js/vendors/jquery-3.2.1.min.js"></script>
            <script src="/plugins/bootstrap-4.1.3/popper.min.js"></script>
            <script src="/plugins/bootstrap-4.1.3/js/bootstrap.min.js"></script>
            <script src="/js/vendors/jquery.sparkline.min.js"></script>
            <script src="/js/vendors/selectize.min.js"></script>
            <script src="/js/vendors/jquery.tablesorter.min.js"></script>
            <script src="/js/vendors/circle-progress.min.js"></script>
            <script src="/plugins/rating/jquery.rating-stars.js"></script>
            
            <!-- Fullside-menu Js-->
            <script src="/plugins/fullside-menu/jquery.slimscroll.min.js"></script>
            <script src="/plugins/fullside-menu/waves.min.js"></script>
            
            <!-- Chart.js -->
            <script src="/plugins/Chart.js/Chart.js"></script>
            
            <!--Counters -->
            <script src="/plugins/counters/counterup.min.js"></script>
            <script src="/plugins/counters/waypoints.min.js"></script>
            
            <!--Morris.js Charts Plugin -->
            <script src="/plugins/morris/raphael-min.js"></script>
            <script src="/plugins/morris/morris.js"></script>
            
            <!-- Custom scroll bar Js-->
            <script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
            
            <!-- jQuery Sparklines -->
            <script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
            
            <!-- JQVMap -->
            <script src="/plugins/jqvmap/jquery.vmap.js"></script>
            <script src="/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
            <script src="/plugins/jqvmap/jquery.vmap.sampledata.js"></script>
            
            <script src=/plugins/echarts/echarts.js"></script>
            <script src="/js/index1.js"></script>
            
            
            <!-- Custom Js-->
            <script src="/js/custom.js"></script>
            <script src="/js/jqvmap.js"></script>
            <script src="/js/chartbundle.js"></script>
            
            <!--Counters js-->
            <script>
            $('.count').countUp();
            </script>
</body>


</html>


